<div class="d-flex p-2 bd-highlight justify-content-around">
  <div class="p-2 bd-highlight"><%= @game.producer %></div>
  <div class="p-2 bd-highlight"><%= @game.title %></div>
  <div class="p-2 bd-highlight"><%= @game.release %>年</div>
</div>

<div class="d-flex p-2 bd-highlight justify-content-around">
  <div class="p-2 bd-highlight"><%= render 'favorites/favorite_button', game: @game %></div>
  <div class="p-2 bd-highlight"><%= link_to 'レビュー投稿', new_review_path, class: 'btn btn-primary 　mx-auto　d-block mb-5' %></div>
</div>

  <%= render 'reviews/reviews', reviews: @reviews %>

<div class="d-flex p-2 bd-highlight justify-content-around">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
