<div class="row"> 
  <div class="bg-secondary boarder mx-auto  w-auto col-sm-6 offset-sm-3">
    <div class="text-center text-white">
      <h3>レビュー投稿</h3>
    </div>
  </div>
</div>
<div class="row my-5">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @review) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

      <div class="mb-3">
        <%= f.label :content, 'Name' %>
        <%= f.text_area :content, class: 'form-control', rows: 5  %>
      </div>
  </div>
  <div class="col-sm-6 offset-sm-3">
    <div class="field" id="luck">
        <%= f.label :luck,'評価'%>
        <a>こんにちは</a>
        <%= f.hidden_field :luck, id: :review_star %>
  
    <!-- 評価javascript -->
        <script>
        $('#luck').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
      
          scoreName: 'review[luck]',
          half: false,
        });
        </script>
  </div>
  <div class="col-sm-6 offset-sm-3">
    <div class="field" id="design">
        <%= f.label :design,'評価'%>
        <a>こんにちは</a>
        <%= f.hidden_field :design, id: :review_star %>
  
    <!-- 評価javascript -->
        <script>
        $('#design').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
      
          scoreName: 'review[design]',
          half: false,
        });
        </script>
  </div>
  <div class="col-sm-6 offset-sm-3">
        <div class="my-5 mx-auto" style="width: 100px;">
          <%= f.submit '登録', class: 'btn btn-primary' %>
      
          <% end %>
        </div>
    </div>
  </div>
</div>